.pagedjs_area {
  #background-color: lightgrey;
}
.pagedjs_margin {
  border: 0px solid red;
  visibility: visible !important;
}
.logo {
  position: running(header-logo);
  height: 2.5cm;
}

.right {
  position: absolute;
  right: 30px;
  top: 30px;
  <!-- width: 300px; -->
  <!-- border: 3px solid #73AD21; -->
  padding: 10px;
}
.right2 {
  position: relative;
  right: 30px;
  <!-- top: 30px; -->
  <!-- width: 300px; -->
  <!-- border: 3px solid #73AD21; -->
  padding: 10px;
}
p.close {
  margin-top: 0px;
  margin-bottom: 5px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 12px;
  line-height: 1.5;
}

body {
  font-family: Arial;
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}

@page {

  @top-right {
    /* content: url('header_logo.html'); */
    /* content: running(header-logo); */
    /* content: element(header-logo); */
    /* content: url('01_DCR_RGB_POS.jpg'); */
    /* content: url('DCRLogo_small.jpg'); */
    content: url('01_DCR_CMYK_POS.svg');
  }
  @top-left {
    content: "" ;
  }
  @bottom-right {
    content: 'Page ' counter(page) ' of ' counter(pages);
  }
  @bottom-left {
    /* content: url('01_UNIBE_RGB.png'); */
    /* content: url('ub_Logo_english_2019_RGB_wb_small.png'); */
    content: url('ub_16pt-cmyk.svg');
    width: 80%;
  }
  margin-top: 3.25cm;
}

#acro {
  position: running(acro);
}

#acro:before {
  content: "Costing: ";
}

/*
@page :first {

  @top-right {
    #content: element(header-logo);
    content: none;
    height:5cm;
  }
  @top-left {
    content: none;
  }
  @bottom-right {
    content: 'Page ' counter(page) ' of ' counter(pages);
  }
  margin-top: 0cm
}
*/

@media screen and (min-width: 12.32in) {
  .pagedjs_page, .pagedjs_first_page {
    margin: auto auto 5mm auto;
  }
}
